.menu {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu__item {
    padding: 20px;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-top: 30px;
}

.post {
    border: 1px solid black;
    padding: 30px;

}

.post:hover {
    cursor: pointer;
    background-color: gray;
}

.avatar {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.author_data {
    display: flex;
    flex-direction: row;
}

.author_name {
    color: #3b5da5;
    font-weight: bolder;
    font-size: 17px;
}

.author_position {
    color: #606778;
    font-weight: bolder;
}

.created {
    font-size: 14px;
    color: darkgray;
}

.content {
    padding: 10px;
}

.create, .edit {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.title {
    font-size: 20px;
}

.create > textarea, .edit > textarea {
    height: 90px;
    resize: none;
    padding: 10px;
}

.create_controls, .edit_controls {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 20px;
}

.delete, .cancel, .ok {
    margin-right: 10px;
}

.create_controls > button {
    padding: 10px;
    width: 80px;
}

a {
    text-decoration: none;
    color: #666;
}
